{% extends "base.html" %}

{% block title %}Wordplay{% endblock %}

{% block body %}
{% if thanks %}
<div class="alert alert-info" role="alert">{{ thanks }}. <br/><a href="{% url 'cloud' survey_id %}" class="alert-link">Check out the word cloud!</a></div>
{% endif %}
<h1>Wordplay Time!</h1>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
  {{ form.word.errors }}
  <div class="field">
    <label for="id_word">What's one word to describe what's going through your head at the moment?</label><br/>
    {{ form.word }}
  </div>
  </div>
  <div class="form-group">
  <input type="submit" value="Submit" class="btn btn-primary"/>
  </div>
</form>
{% endblock %}
